package layout

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>GOHTT starter pack</title>
			<link rel="icon" type="image/x-icon" href="public/favicon.ico"/>
			<link rel="stylesheet" href="/public/style.css"/>
			<script src="https://unpkg.com/htmx.org@1.9.12"></script>
		</head>
		<body class="antialased">
			{ children... }
		</body>
	</html>
}
